{% extends 'base.html'%}
{% block title %}About us{% endblock %}
{% load static %}
{% block content %}
<br><br><br><br>
<center>
<p class ='ex1'>

______________________________________<b>Accreditation</b>_____________________________________________<br><br>
SAI ENTERPRISES holds an PASARA approved contractor status for provision of
Security guarding services.
The PASARA is a government appointed organisation aiming to regulate the Security
Industry.
The PASARA approved contractor scheme is a voluntary scheme with the objective of
raising performance standards ofprivate security companies through inspections under which
organisations who satisfactorily meet the agreed standards become approved.
In SAI ENTERPRISES Security Screening period may be no less than 5 years. Through
the security screening we endeavour to ensure that the integrity of our personnel is
established and maintained.<br><br><br><br>

_____________________________________<b>Company profile</b>_____________________________________________<br><br>
Founded in the early 2005 , SAI ENTERPRISES has many years of extensive knowledge
and expertise in the security industry. Through the provision of unrivaled quality
commercial security services to businesses operating in the public and private sectors, SAI
ENTERPRISES has achieved much success through building on its policy of integrity,
credibility and partnership with all of its clients.
At SAI ENTERPRISES we recognise the importance of our security team in providing a
customer service that goes above and beyond the norm. SAI ENTERPRISES believes that
the key to providing a first class service lies with investing in the workforce which is why we
at SAI ENTERPRISES have made significant contributions towards recruitment, training and
development in terms of our Managers, Supervisors and Front Line Security Officers. By
making a continuous effort towards the personal and professional development of the SAI
ENTERPRISES Team, we have achieved a greater level of staff motivation and customer
satisfaction.<br><br>
As one of the industry’s leading security companies, SAI ENTERPRISES emphasis on
quality combined with an innovative and customer focused approach to the provision of
commercial security services differentiates it from other organisations operating in the
sector.<br><br>
SAI ENTERPRISES ultimately provides peace of mind, enabling its
clients to focus on achieving their business objectives, rather than
dealing with the worries and concerns associated with the security of
their employees and premises.<br><br><br><br>


_____________________________________<b>Our mission</b>_____________________________________________<br><br>
SAI ENTERPRISES aims to provide all of our clients with the option to receive all support
services they require from one innovative and effective supplier.
SAI ENTERPRISES promotes training and development and emphasises the value of
active customer service as a vital tool to both gain competitive advantage and exceed
client expectations.
To achieve this mission we must embrace the following values and work ethics within our
organisation.<br><br>
Strive for quality and excellence in everything that we do
Foster a “we can do” culture by working with commitment and enthusiasm
Have a clear view of the high standards expected of us and strive to maintain them
Take personal and team ownership for our work
Company Values
To bring out the best in everyone
We respect honesty, listento eachother’s ideas andopinions, andare open, fair and
informative.
To get everyone working together<br><br>
We encourage everyone to participate, work in a team, help one another and maintain a
happy working environment.<br><br>
To be the best in the Industry<br><br>
We understand our changing market, set clear standards of performance, encourage people
to make decisions and solve problems quickly.<br><br>
Ideal Reputation<br><br>
With Customers
SAI ENTERPRISES respond quickly in a helpful way, produce creative ideas, give value
for money and supply the right services on time.<br><br>
Amongst Ourselves<br><br>
We help and support each other, work as a team, actively recognise efforts and
results and all share in the Company’s success.<br><br>
With Suppliers
SAI ENTERPRISES agree and expect clear standards, keep their promises, treat us
honestly and fairly and support us well.<br><br>
Our Business Aim<br><br>
To successfully supply services and products and continue to evolve efficiently in a faster,
connected new world.<br><br>


_____________________________________<b>Our personnel</b>_____________________________________________<br><br>

To ensure that we deliver a first class service we adhere to rigorous selection, screening, and
training procedures. All potential employees undergo an intensive selection process with each
candidate completing a searching application form which is specially designed by our Human
Resources Department.<br><br>
Screening and vetting is then carried out which establishes the suitability and reliability of
each applicant over a ten year period and beyond. Written references from former
employers are mandatory. All employees are also fully checked for criminal convictions to
ensure they are suitable candidates to operate within the security industry.
The guarding services which we provide stretch far and beyond what most companies offer.
Our value added services include such services as specialist concierge services, customer
care officers, gatehouse security, car parking, CCTV, monitoring and full security
consultancy services.<br><br>
Professionally trained, all our Security guards are committed indelivering the best and safest
service possible. Keeping up to date with the latest technology and crime patterns, our security
guards can take control as well as adapt to a number of circumstances. From monitoring car
parks to providing security in retail outlets, not only do we deal with emergencies such as but
we can also offer basic first aid assistance. As the forefront of defence in both our business and
yours, it is important that our guards uphold the
acclaimed reputation that has kept us on the map for many years<br><br>
</p>
</center>

{% endblock %}