	{% extends 'base.html'%}
{% block title %}Security/Manned Guard{% endblock %}
{% load static %}
{% block content %}


<center>
						<img src="{% static 'Home/images/Bouncers.jpeg' %}" class="img-fluid" alt="Image" height=500 width =500>
			
<hr>
                    <div class="message-box">     
                    <p class='ex1'>    
                    
                    When it comes to Event security, we take great pride in offering only the best. With
experienced security guards fully trained in handling all your event security needs, you
can trust the professionals in ensuring that your event runs smoothly and securely.<br/>
<br/>
WHAT WE CAN OFFER YOU :-<br/>
From preparing the initial security details to wrapping it all up, our security guards will be
there from beginning to end ensuring your event stays secure throughout. Through our inhouse health and safety consultants we will perform a full risk assessment prior
to the event ensuring we are fully prepared for all eventualities.<br/>
<br/><br/>
1.Sporting Events<br/>
2.Social Events<br/>
3. Exhibitions and Conferences<br/>
4.Corporate Functions<br/>
5.Award Ceremonies<br/>
6.Outdoor Events<br/>
7. Weddings<br/>
8.Concert Security<br/><br/><br/>
Our officers will provide an excellent service in a very professional and discreet manner
ensuring the safety of the venue at all times.<br/>
Part of the security duties can include the following:<br/><br/><br/>
1.Checking for any potential fire and flood hazards<br/>
2.Monitoring of the car park ensuring the safety ofvehicles<br/>
3.Providing customer support and dealing with V.I.Ps in a professional manner<br/>
4.Ensuring the safety of the public in entering and leaving the venue<br/>
</p><a href="/contactus" class="sim-btn hvr-bounce-to-top"><span>Contact Us</span></a>
</div><!-- end messagebox -->


</center>
<br/><br/><br/><br/>


{% endblock %}