	{% extends 'base.html'%}
{% block title %}Security/Manned Guard{% endblock %}
{% load static %}
{% block content %}
<center>
	<img src="{% static 'Home/images/gs1.jpg' %}" class="img-fluid" alt="Image" height=500 width =500>
<hr>
                    <div class="message-box">     
                    <p>    
					Sai enterprises Fields offers a complete solution to all your landscaping, Irrigation and
Indoor/Outdoor plant requirements. Your requirements will be analyzed by our team of
experts and a unique solution specific to your needs will be presented. We guarantee 100
percent client satisfaction. We are very well equipped and efficient in our work and always
leave your property better than we found it.<br/>
1. Products<br/>
 - Indoor plants<br/>
 -Outdoor plants<br/>
 - Pots/Planters<br/>
 - Garden furniture<br/>
 -Outdoor Carpentry: Gazebos, Trellis, Arches, Decking, Fences)<br/>
 -Plant Accessories (soil, fertilizer, wooden chip, etc)<br/>
2. Services<br/>
 -Indoor PlantMaintenance<br/>
This is in the form of a monthly/ yearly contract or tailored to a specific customer need. It
involves the regular care of plants through:<br/>
 -Leaf Cleaning<br/>
 - Feeding<br/>
 -Watering<br/>
 -Plant Replacement<br/>
 -Pest/Disease preventio<br/>
 -Lighting control<br/>


<b>OutOutdoor/Garden/Landscape Maintenance</b>
This can also be in the form of a monthly/ yearly contract or tailored to a specific customer
need.<br/> It involves the following:<br/>
1.General cleaning<br/>
The outdoor area/garden is kept clean and tidy by raking the leaves, sweeping paths and
driveways.<br/>
2. Watering<br/>
A specific watering program is designed either through manual watering or irrigation
control.<br/>
3. TurfCare<br/>
Mowing, aerating, weed removal, application of fertilizers and renovation
4.Shrubs and Trees Care<br/>
Ensure a healthy, well distributed and shaped foliage all year round
5.PalmProtection<br/>
Prevention of over watering, root damage, fertilizer burn, bad soil, sun burn and o ver
pruning of palm trees<br/>

</p>
</div><!-- end messagebox -->






{% endblock %}