{% extends 'base.html' %}
{% load static %}
{% block content %}

<section id="home" class="main-banner parallaxie" style="background: url({% static 'Home/uploads/bk1.jpg' %}')">
		<div class="heading">
			<h1>SAI ENTERPRISES</h1>			
			<h3 class="cd-headline clip is-full-width">
				<span>ALL TYPE MAN POWER SOLUTION COMPANY</span>
				<div class="btn-ber">
					<a href='/contactus'><button class="button1">Contact us</button></a>
          			<a href ='/gallery'><button class="button2">Our Gallery</button></a>
					
				</div>
			</h3>
		</div>
	</section>

    <div id="about" class="section wb">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <div class="message-box">                        
                        <h2>Welcome to SAI ENTERPRISES</h2>
                        <p>SAI ENTERPRISES holds an PASARA approved contractor status for provision of
Security guarding services.
The PASARA is a government appointed organisation aiming to regulate the Security
Industry.
The PASARA approved contractor scheme is a voluntary scheme with the objective of
raising performance standards ofprivate security companies through inspections under which
organisations who satisfactorily meet the agreed standards become approved.
In SAI ENTERPRISES Security Screening period may be no less than 5 years. Through
the security screening we endeavour to ensure that the integrity of our personnel is
established and maintained</p>

                        <a href="/contactus" class="sim-btn hvr-bounce-to-top"><span>Contact Us</span></a>
                    </div><!-- end messagebox -->
                </div><!-- end col -->

                <div class="col-md-6">
                   
                        <img src="{% static 'Home/images/Event.jpeg' %}" alt="" class="img-fluid img-rounded">
                    <!-- end media -->
                </div><!-- end col -->
            </div><!-- end row -->
        </div><!-- end container -->
    </div><!-- end section -->
	
    <div id="services" class="section lb">
        <div class="container">
            <div class="section-title text-center">
                <h3>Services</h3>
                <p>To successfully supply services and products and continue to evolve efficiently in a faster,connected new world.</p>
            </div><!-- end title -->

            <div class="row">
				<div class="col-md-4">
				<a href='/sg'>
                    <div class="services-inner-box">
						<div class="ser-icon">
							<i class="flaticon-seo"></i>
						</div>
						<h2>Security/Manned Guard</h2>
						<p>A security guard is seen to privately fulfil a policing function. This may be to protect
property, assets or people. Security training becomes crucial to ensure absolute
professionalism and efficiency is maintained by the guards on the job.</p>
					</div></a>
                </div><!-- end col -->
                <div class="col-md-4">
				<a href='/bouncers'>
                    <div class="services-inner-box">
						<div class="ser-icon">
							<i class="flaticon-development"></i>
						</div>
						<h2>Event security/ bouncers</h2>
						<p>When it comes to Event security, we take great pride in offering only the best. With
experienced security guards fully trained in handling all your event security needs, you
can trust the professionals in ensuring that your event runs smoothly and securely</p>
					</div></a>
                </div><!-- end col -->
				<div class="col-md-4">
				<a href='/hs'>
                    <div class="services-inner-box">
						<div class="ser-icon">
							<i class="flaticon-process"></i>
						</div>
						<h2>Hotel Security</h2>
						<p>The hospitality sector is one of the most demanding areas of business. With hotel standards
subject to constant scrutiny it’s imperative that you have nothing less than the best when it
comes to your hotel security. </p>
					</div></a>
                </div><!-- end col -->
				<div class="col-md-4">
				<a href='/sss'>
                    <div class="services-inner-box">
						<div class="ser-icon">
							<i class="flaticon-discuss-issue"></i>
						</div>
						<h2>Subcontractor Security Services</h2>
						<p>If you are a security company and are unable to provide a security service due to
overstretched resources, we are always able to provide security staff to work for yo u.</p>
					</div></a>
                </div><!-- end col -->
				<div class="col-md-4">
				<a href='/hsk'>
                    <div class="services-inner-box">
						<div class="ser-icon">
							<i class="flaticon-idea"></i>
						</div>
						<h2>Housekeeping services</h2>
						<p>SAI ENTERPRISES brings together a large number of professionally trained staff to serve
your housekeeping requirements. We are well spread into various sectors and serving
several industries when it comes to good housekeeping.</p>
					</div></a>
                </div><!-- end col -->
				<div class="col-md-4">
				<a href='/ms'>
                    <div class="services-inner-box">
						<div class="ser-icon">
							<i class="flaticon-idea-1"></i>
						</div>
						<h2>Manpower services</h2>
						<p>With our housekeeping man power services we aim at building long associations as
cleanliness is an ongoing process. Thus, we make sure that only quality service is given from
our end and you get the finest in turn.</p>
					</div></a>
                </div><!-- end col -->
            </div><!-- end row -->
        </div><!-- end container -->
    </div><!-- end section -->
	
	
	<div id="team" class="section wb">
		<div class="container">
			<div class="section-title text-center">
				<h3>Our Valued Customer</h3>
			</div><!-- end title -->
		
			<div class="row">
				<div class="col-md-3 col-sm-6">
					<div class="our-team">
						
							<img src="{% static 'Home/images/c1.png' %}">
					
						<div class="team-content">
							<h3 class="title">Indira </h3>
							<span class="post">College</span>
						
						</div>
					</div>
				</div>
				<hr>
				
				<div class="col-md-3 col-sm-6">
					<div class="our-team">
					
							<img src="{% static 'Home/images/c2.png' %}">
				
						<div class="team-content">
							<h3 class="title">Yoshika</h3>
							<span class="post">Engineering Pvt Ltd.</span>
							
						</div>
					</div>
				</div>
				<hr>
				
				<div class="col-md-3 col-sm-6">
					<div class="our-team">
					
							<img src="{% static 'Home/images/c3.png' %}">
					
						<div class="team-content">
							<h3 class="title">Daffodils</h3>
							<span class="post">Blossoming Houses</span>
							
						</div>
					</div>
				</div>
				<hr>
				
				<div class="col-md-3 col-sm-6">
					<div class="our-team">
						
							<img src="{% static 'Home/images/c4.png' %}">
						
						<div class="team-content">
							<h3 class="title">GreenSpan</h3>
							<span class="post">Architect PVt Ltd.</span>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	


    

{% endblock %}
  