
	{% extends 'base.html'%}
{% block title %}Security/Manned Guard{% endblock %}
{% load static %}
{% block content %}
<center>
<img src="{% static 'Home/images/hs1.jpg' %}" class="img-fluid" alt="Image" height=500 width =500>
<br/><br/><br/>
<hr>
                    <div class="message-box">     
                    <p class='ex1'>  The hospitality sector is one of the most demanding areas of business. With hotel standards
subject to constant scrutiny it’s imperative that you have nothing less than the best when it
comes to your hotel security. As a sector which relies heavily on reputation alone just one
lapse in your security could have a detrimental effect on your status and therefore your future
business.<br/>
This is why here at OM Security we put your business first, with our hotel security services
we provide your guests with the comfort, customer service and protection they expect.
With the opportunity for crime often more apparent surrounding hotel premises considering
many are located in thriving city centres, criminals won’t be afraid to capitalise on
your guests or property if you have insufficient security in place. From the pro tectionof
your guests’ belongings to car park patrols to deviate car theft, all of our highly trained
and licensed hotel security guards are equipped to combat these threats.<br/>
Delivering not only a proactive and efficient solution our hotel security staff put customer
service at the forefront of their presence. In addition to keeping your guests safe we know it’s
paramount that we offer a warm face to each and every one of your guests.<br/><br/> This
combined with a helpful and approachable persona means that our security officers are so
much more than a regular guard.<br/>
</p>
<center><a href="/contactus" class="sim-btn hvr-bounce-to-top"><span>Contact Us</span></a></center>
</div><!-- end messagebox -->

</center>
<br/><br/>




{% endblock %}