	{% extends 'base.html'%}
{% block title %}Security/Manned Guard{% endblock %}
{% load static %}
{% block content %}
<center>
<img src="{% static 'Home/images/hsk1.jpg' %}" class="img-fluid" alt="Image" height=500 width =500>
<br/><br/><br/>
                    <div class="message-box">     
                    <p class ='ex1'>
SAI ENTERPRISES SUPPLIES MAN POWER FOR THE FOLLOWING:<br/>
• Domestic Housekeeping Cleaning Services<br/>
• Corporate Housekeeping CleaningServices<br/>
• Industrial Housekeeping CleaningServices<br/><br/>
" FOR B EST DE ALS AN D PA CK AGES , PLEAS E GET IN TOU CH WIT H US . "
SAI ENTERPRISES brings together a large number of professionally trained staff to serve
your housekeeping requirements. We are well spread into various sectors and serving
several industries when it comes to good housekeeping. Our housekeeping services expand
to gyms, malls, office space like banks, commercial areas, hospitals, homes, schools and
much more. We function like a wholesome housekeeping provider that is backed by able
and sound number of manpower.<br/><br/>
Why choose our manpower supply ?<br/><br/>
1.Our housekeepers are dedicated and professional<br/>
2.They stick to the assigned task and complete it on time<br/>
3.They are well dressed in uniforms at all times<br/>
4.Our housekeepers go through intense training about various housekeeping
requirements<br/>
5.Our man power services are spread over various industries<br/>
6.Our staff is suitable for all kinds of housekeeping work<br/><br/><br/>
Whether you require our manpower for a day, daily basis or on a set routine, you can avail the
same very easily. We have enough number of housekeepers who are extremely resourceful
when it comes to the cleaning, organization and maintenance of your space.
They leave the area spick and span and add value to the existing space. By
providing housekeeping manpowe r supply our aim is to help you maintain
cleanliness which can be a daunting task if left to inexperienced people. By trusting a
company like ours you gain largely as our sole dedication is towards good housekeeping. We
value your time, space and provide results that reflect your industry in a positive light.
Whether it is a spotless home, a sparkling hotel, a clean mall, or an infection free hospital,
our manpower helps you achieve it and put your best foot forward.
At Quality Housekeeping Services we believe in giving you the best value from your space.
Whether it is your home, office or a public place, we make sure that whoever walks into it,
feels welcomed. Building a space is not only about placing expensive things and fancy
infrastructure, but maintaining it as well. For each dedicated corner of your space, we have
skilled and resourceful manpower.<br/><br/>
With our housekeeping man power services we aim at building long associations as
cleanliness is an ongoing process. Thus, we make sure that only quality service is given from
our end and you get the finest in turn.<br/><br/>
Just like the services we provide, our manpower is also diversified. We have trained people for
several departments of cleaning. They understand what products are to be used
where and how a certain space needs to be cleaned. While cleaning is good, it can go wrong if
one doesn’t know the correct method. Application of wrong supplies can result in
leaving hard stains and spoil the furniture. To make sure nothing of this sort happens to your
space, we provide trained manpower only. They are given a brief before they leave and report
to supervisors who further assess their task. Thus, double check is maintained from our end
for best results and the service of housekeeping staff suppliers.<br/><br/>
</p>
<center><a href="/contactus" class="sim-btn hvr-bounce-to-top"><span>Contact Us</span></a></center>
</div><!-- end messagebox -->



</center><br/><br/>


{% endblock %}