
	{% extends 'base.html'%}
{% block title %}Security/Manned Guard{% endblock %}
{% load static %}
{% block content %}


<center>
						<img src="{% static 'Home/images/mf.jpg' %}" class="img-fluid" alt="Image" height=500 width =500>
					
	
<hr>
                    <div class="message-box">     
                    <p class='ex1'>      Manufacturing industry refers to those industries which are
involved in the manufacturing and processing of items and
indulge in either creation of new commodities or in value
addition. <br/>The manufacturing industry accounts for a
significant share of the industrial sector in developed
countries.<br/><br/>
Manufacturing ranges from Transportation vehicles viz.
flights, trains, buses, ships, cars, motorbikes, all household
consumable goods, food products etc. Manufacturing industry places a very vital role in
creating employment opportunities for various departments viz; production planning,
procurement, production process, quality control procurement, marketing & sales, finance &
accounts, logistics, human resources etc.<br/><br/>


</p>
</div><!-- end messagebox -->

						<img src="{% static 'Home/images/mef.jpg' %}" class="img-fluid" alt="Image" height=500 width =500>
<hr>
                    <div class="message-box">     
                    <p class='ex1'>     METAL FABRI CATION IS THE PROCESS OF BUILDING
MACHINES AND STRUCTURES FROM RAW MET AL
MATERIALS . THE PROCESS INCLUDES CUTTING ,
BURNING , WELDING , MACHINING , FORMING AND
ASSEMBLY TO CREATE THE FINALPRODUCT.<br/><br/>
Metal fabrication projects include everything from hand
railings to heavy equipment and machinery. The main
benefit of metal fabrication shops is the centralization of
these processes – often required to be performed in
parallel. The metal fabrication industry is highly cyclical and depends on industries such as
auto, aerospace, construction and energy.<br/><br/>
We can provide following man power :-<br/><br/>
1.Fitter<br/>
2.Helper<br/>
3.Loader<br/>
4.Picker<br/>
</p>
<center><a href="/contactus" class="sim-btn hvr-bounce-to-top"><span>Contact Us</span></a></center>
</div><!-- end messagebox -->
        
</center>
<br/><br/><br/>





{% endblock %}