	{% extends 'base.html'%}
{% block title %}OfficeBoy Services{% endblock %}
{% load static %}
{% block content %}

<center>
	<img src="{% static 'Home/images/oboy.jpg' %}" class="img-fluid" alt="Image" height=500 width =500>
<hr>
                    <div class="message-box">     
                    <p>    We are proficiently engaged in providing Office Boys Services in market. These
provided services are broadly credited and commende... We are the leading service
providerin pune , Maharashtra, India and providing Office Boy Service to our valuable
customers.
</p>
</div><!-- end messagebox -->

	<img src="{% static 'Home/images/pboy.jpg' %}" class="img-fluid" alt="Image" height=500 width =500>
<hr>

                    <div class="message-box">   
                    <p>
Pantry boys<br/>
For many years, we are passionately engrossed in offering Pantry Boys Services to our
clients. Our professionals make constant efforts to provide this boys service within the
promised set of time. Also, we are rendering these pantry boys services at very reasonable
prices.
</p>

</center>

{% endblock %}