	{% extends 'base.html'%}
{% block title %}Security/Manned Guard{% endblock %}
{% load static %}
{% block content %}
<center>
<img src="{% static 'Home/images/SG1.jpeg' %}" class="img-fluid" alt="Image" height=500 width =500>
<br/><br/><br/>

<hr>
                    <div class="message-box">     
                    <p class='ex1'>               

            Our security guards can dissuade thieves from retail outlets, man front desks at corporate
facilities, provide crowd control at events, monitor CCTV surveillance and even patrol
parking spaces.<br/><br/>
BENEFITS OF HAVING OUR SECURITY GUARDS <br/>
1. Enable your people – whether customers, employees or the public – to feelsecure no matter what the location
2. Ourguards can inspect your premises and recommend ways to minimise your risks of theft, accidents or any
other criminal activity.<br/>
3. Act as a visual deterrent of crime<br/>
4. Handle potential trespassing and vandalism by patrolling the premises<br/>
5. Fulfilling business-mandated security policies such as monitoring CCTV cameras, gates, entrances and
checking alarm systems<br/>
6. Help assist with the overall management of the area<br/>
7. Useful for controlling access points forvisitors or contractors that may legitimately require entry into a
property.<br/><br/>

We can cover the following areas:<br/>
1.School securit<br/>
2.Business security<br/>
3.Industrial security<br/>
4.Factory security<br/>
5.Business Parks<br/>
6.Gatehouse Security<br/>
7.Shopping Centre<br/>
8.Office security<br/>
</p>
<a href="/contactus" class="sim-btn hvr-bounce-to-top"><span>Contact Us</span></a>
</div><!-- end messagebox -->
</center>
<br/><br/>






{% endblock %}