	{% extends 'base.html'%}
{% block title %}Security/Manned Guard{% endblock %}
{% load static %}
{% block content %}

<center>
<img src="{% static 'Home/images/republic.jpeg' %}" class="img-fluid" alt="Image" height=500 width =500>
<br/><br/><br/>
<hr>
                    <div class="message-box">     
                    <p class='ex1'>      If you are a security company and are unable to provide a security service due to
overstretched resources, we are always able to provide security staff to work for yo u.
We are happy to step in at short notice to fulfil your client’s needs whether you need a single
security guard for one evening or over 20 security guards around the clock for a number of
months, we will be able to assist you.<br/><br/>
We are very flexible and you will find that our service fits seamlessly into yours, we can
either work under our name or we can work under your name and the client would not know
that you have subcontracted someone else to help with the security.<br/><br/>
Subcontracting security services to us gives you the flexibility of not having to advertise,
recruit and employ staff temporarily and your client’s site will be under our security
insurance cover.<br/>
</p>
<center><a href="/contactus" class="sim-btn hvr-bounce-to-top"><span>Contact Us</span></a></center>
</div><!-- end messagebox -->

</center>






{% endblock %}